[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipython = "*"
jupyter = "*"
openpyxl = "*"
xlrd = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.7"
